<div id="chart"></div>

<div id="models"></div>

<div id="modelsDonut"></div>

<%= render 'date_form' %>

<table class="table-striped table-bordered">
  <col style="width: 15%">
  <col style="width: 15%">
  <col style="width: 15%">
  <col style="width: 25%">
  <col style="width: 15%">
  <tr>
    <th><%= sortable "Year", "year" %></th>
    <th><%= sortable "Make", "make" %></th>
    <th><%= sortable "Model", "model" %></th>
    <th><%= sortable "Date Sold", "date_sold" %></th>
    <th><%= sortable "Price", "price" %></th>
  </tr>
  <% @cars.each do |car| %>
  <tr>
    <td><%= car.year %></td>
    <td><%= car.make %></td>
    <td><%= car.model %></td>
    <td><%= car.date_sold.strftime("%B, %e, %Y") %></td>
    <td><%= number_with_precision(car.price, :precision => 2, :delimiter => ',') %></td>
  </tr>
  <% end %>
</table>

<%= javascript_tag do %>
//<script>
var dates = <%= @dates %>;
var prices = <%= @prices %>;
dates = dates.map(function(milliseconds) {
                    return new Date(milliseconds)
                  });
dates.splice(0, 0, "Month")
prices.splice(0, 0, "Total Sales")

console.log(dates);
console.log(prices);
var salesChart = c3.generate({
    bindto: '#chart',
    data: {
        x: 'Month',
        columns: [
            dates,
            prices
        ]
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%m/%Y'
            }
        }
    }
});

var carArrays = <%= raw @car_arrays %>;
carArrays.splice(0, 0, dates);

var modelsChart = c3.generate({
    bindto: '#models',
    data: {
        x: 'Month',
        columns: carArrays
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%m/%Y'
            }
        }
    }
});

var modelsDonut = c3.generate({
    bindto: '#modelsDonut',
    data: {
        columns: <%= raw @total_models_sold %>,
        type : 'donut',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    donut: {
        title: "Sales by Vehicle Model"
    }
});

<% end %>
